.btn-danger {
    background-color: #2e4d3f !important;
    border-color: #2e4d3f !important;
  }
  
  .btn-primary {
    background-color: #2e4d3f !important;
    border-color: #2e4d3f !important;
  }
  .navbar-vertical {
    background-color: #0d0e12 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
}
@media (max-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    color: black !important;
  }
}
